<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts-index.css">
<%- include('../partials/nav') %>

<h1>INDEX PROFILES</h1>
<main>
  <% profiles.forEach(profile => { %>
    <div class="white-div">
      <section>
        <a href="/profiles/<%= profile._id %>"><%= profile.name %></a>
        <!-- number of posts -->
      </section>
      <section>
        <%= getRandomIcon() %>
      </section>
    </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>