<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>INDEX PAGE</h1>

<main>
  <section>
    <h1>Your Whimsy</h1>
    <h4>Whimsy Writer since ...</h4>
    <h4>... Whimsy Entries</h4>
    <a href="/posts/new">
      <button type="submit">New Whimsy</button>
    </a>
  </section>
  <section>
    <% posts.forEach(post => { %>
    <div class="white-div">
      <p><%= post.title%></p>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">❌</button>
      </form>
      <form action="XXX" method="XXX">
        <button type="submit">✏️</button>
      </form>
    </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>