<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts-show.css">
<%- include('../partials/nav') %>

<main id="posts-show-main">
  <section id="ps-sect-1">
    <h1><%= post.title %></h1>
    <p class="thin-letters"><%= post.author.name %></p>
  </section>
  <section id="ps-sect-2">
    <h1>Date:</h1>
    <h1 class="thin-letters"><%= post.date %></h1>
    <h1>How did you feel? </h1>
    <h1 class="emoji"><%= post.feelings %></h1>
  </section>
  <section id="ps-sect-3">
    <h1>Public? </h1>
    <h1 class="thin-letters"><%= post.public ? 'Public' : 'Private' %></h1>
  </section>
  <section>
    <div class="white-div" id="content-display-div">
      <textarea readonly name="content" id="content-display" cols="30" rows="10"><%= post.content %></textarea>
    </div>
    <article class="edit-back-buttons">
      <% if (isSelf) { %>
        <a href="/posts/<%= post._id %>/edit">
          <button>Edit Post</button>
        </a>
      <% } %>
      <a href="javascript:history.back()">
        <button>Go Back</button>
      </a>
    </article>
  </section>
  <section id="comment-section">
    <h1>Comments:</h1>
  </section>
  <section>
    <form action="/posts/<%= post._id %>/comments" method="POST" class="right-column">
      <label for="comment-input"></label>
      <textarea name="theComment" id="comment-input" cols="30" rows="10" placeholder="Commenting as <%= user.profile.name %>..."></textarea>
      <button type="submit">Add Comment</button>
    </form>
  </section>
  <section>
    <% post.comments.forEach(comment => { %>
      <div class="white-div">
        <p><%= comment.theComment %></p>
        <p><em><%= comment.commentAuthor.name %></em></p>
        <% if (isSelf || userProfileId.equals(comment.commentAuthor._id)) { %>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">❌</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>