<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main id="post-show">
  <article class="post-show-top-article">
    <section class="show-information" id="date-and-title">
      <h1>Date:  </h1>
      <h1><span class="thin-letters"><%= post.date %></span></h1>
      <h1>Title: </h1>
      <h1><span class="thin-letters"><%= post.title %></span></h1>
    </section>
    <section class="show-information">
      <h1>How did you feel? </h1>
      <h1><span class="thin-letters"><%= post.feelings %></span></h1>
    </section><section class="show-information">
      <h1>Public? </h1>
      <h1><span class="thin-letters"><%= post.public ? 'Public' : 'Private' %></span></h1>
    </section>
  </article>

  <div class="white-div" id="post-show-textarea">
    <textarea readonly name="content" id="content-display" cols="30" rows="10"><%= post.content %></textarea>
  </div>
  
  <% if (isSelf) { %>
    <a href="/posts/<%= post._id %>/edit">
      <button>Edit Post</button>
    </a>
  <% } %>
  <a href="javascript:history.back()">
    <button>Go Back</button>
  </a>


  <section id="comment-section">
  <h1>Comments:</h1>
    <form action="/posts/<%= post._id %>/comments" method="POST" class="right-column">
      <label for="comment-input"></label>
      <textarea name="theComment" id="comment-input" cols="30" rows="10" placeholder="Commenting as <%= user.profile.name %>..."></textarea>
      <button type="submit">Add Comment</button>
    </form>
  </section>

  <!-- comments go here -->
  <% post.comments.forEach(comment => { %>
    <div class="white-div">
      <p><%= comment.theComment %></p>
      <p><em><%= comment.commentAuthor.name %></em></p>
      <% if (isSelf || userProfileId.equals(comment.commentAuthor._id)) { %>
        <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">❌</button>
        </form>
      <% } %>
    </div>
  <% }) %>

</main>

<%- include('../partials/footer') %>