<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts-show.css">
<%- include('../partials/nav') %>

<main id="posts-show-main">
  <section id="ps-sect-1">
    <h1><%= post.title %></h1>
    <p class="thin-letters"><%= post.author.name %></p>
    <hr>
  </section>
  <section id="ps-sect-2">
    <h1 id="date-label">Date:</h1>
    <p class="thin-letters"><%= post.date %></p>
  </section>
  <section>
    <h1 id="emoji-label">How did you feel? </h1>
    <p id="show-emoji"><%= post.feelings %></p>
  </section>
  <section id="ps-sect-3">
    <h1 id="privacy-label">Privacy Setting </h1>
    <p class="thin-letters"><%= post.public ? 'Public 📣' : 'Private 🔑' %></p>
  </section>
  <section id="ps-sect-4">
    <article id="content-div">
    <div class="white-div" id="content-display-div">
      <textarea readonly name="content" id="content-display" cols="30" rows="10"><%= post.content %></textarea>
    </div>
  </article>
    <article class="edit-back-buttons">
      <% if (isSelf) { %>
        <a href="/posts/<%= post._id %>/edit">
          <button>Edit Post</button>
        </a>
      <% } %>
      <a href="javascript:history.back()">
        <button>Go Back</button>
      </a>
    </article>
    <!-- <hr> -->
  </section>
  <section id="ps-sect-5">
    <h1>Comments:</h1>
  </section>
  <form action="/posts/<%= post._id %>/comments" method="POST" >
    <label for="comment-input"></label>
    <textarea name="theComment" id="comment-input" cols="30" rows="10" placeholder="Commenting as <%= user.profile.name %>..."></textarea>
    <button type="submit">Add Comment</button>
  </form>
  <section>
    <% post.comments.forEach(comment => { %>
      <div class="white-div">
        <p><%= comment.theComment %></p>
        <p id="comment-authors-name"><em><%= comment.commentAuthor.name %></em></p>
        <article id="form-buttons-section">
        <% if (isSelf || userProfileId.equals(comment.commentAuthor._id)) { %>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit" class="form-buttons">❌</button>
          </form>
        <% } %>
        <% if (userProfileId.equals(comment.commentAuthor._id)) { %>
          <button type="submit" class="form-buttons" id="edit-btn">✏️</button>
        </article>
        <div class="edit-comment-form">
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <input type="text" name="theComment" value="<%= comment.theComment %>">
            <button type="submit">Update Comment</button>
          </form>
        </div>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>